@import "../scss/base/variables";
@import "../scss/base/mixing";
@import "../scss/base/extends";
@import "../scss/components/estructura";
@import "../scss/components/header";
@import "../scss/components/presentacion";
@import "../scss/components/servicios";
@import "../scss/components/staff";
@import "../scss/components/nosotras";
@import "../scss/components/turno-contacto";
@import "../scss/components/footer";

/* medias queries*/

@media screen and (max-width: 800px) {
    .ul-servicios {
        flex-direction: column;
    }
    .li-servicios {
        margin-bottom: 20px;
        &:first-child {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .profe {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .carousel {
        width: 100%;
    }
    .present {
        display: block;
    }
    .staff-irene {
        margin-bottom: 20px;
    }
}

.disclaimer {
    display: none;
}