/* Inicio Nosotras */

.texto-nosotras {
    font-size: 1.5rem;
    margin: 20px;
    color: rgb(6, 6, 31);
    padding-top: 160px;
}

.texto {
    color: #65666C;
    text-align: justify;
    margin: 30px 15px 0px 15px;
}

/* Fin Nosotras */