@import "../base/extends";

/* Inicio Nosotras */

.texto-nosotras {
    @extend %titulos;
}

.texto {
    color: #65666C;
    text-align: justify;
    margin: 30px 15px 0px 15px;
}

/* Fin Nosotras */