@import "../base/extends";

/* Inicio Staff */

.texto-staff {
    @extend %titulos;
}

.staff {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
    color: #65666C;
    text-align: center;
    flex-wrap: wrap;
}

/* Fin Staff */