@import "../base/extends";

/* Inicio Turnos/Contacto */

.texto-contacto {
    @extend %titulos;
    /* display: flex; */
    /* justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; */
    margin-bottom: 0px;
}

.img-contacto {
    max-width: 100%;
    width: 25%;
    position: relative;
    left:  70%;
    object-fit: cover;
}

.img-whatsapp {
    width: 25%;
    max-height: 95px;
    height: auto;
    margin-bottom: 1.2rem;
}

.img-mail {
    width: 25%;
    max-height: 95px;
    height: auto;
    margin-bottom: 1.2rem;
}

.ul-turnos {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
    text-align: justify;
}

.consultas {
    font-size: 1rem;
    color: #65666C;
    margin: 0px;
}
.n {
    color: #2b2b2c;
    font-size: 1.2rem;
    margin: 0px;
    font-weight: 600;
}

.wtsapp {
    flex-direction: column;
    margin-bottom: 60px;
    text-align: center;

}

.mail {
    flex-direction: column;
    margin-bottom: 60px;
    text-align: center;
}

/* Fin Turnos/Contactos */